TODO.org
config.json

test/extractortests/*.pdf
test/extractortests/*.html
test/extractortests/*.ps
test/extractortests/*.doc
test/extractortests/*.xml
doc/
log/*


_del*
_out*
\#*\#

__pycache__/
*.py[cod]
.Python
env/
build/
.cache/
