ocropus-0.2.tar.gz
ocropus/%test_image.png
ocropus/%test_image.ppm
ocropus/config.log
ocropus/config.status
ocropus/ext/lua/liblua.a
ocropus/ext/tolua++/libtolua++.a
ocropus/ext/tolua++/tolua++
ocropus/ext/tolua++/tolua.o
ocropus/ext/tolua++/toluabind.o
ocropus/imgbits/libimgmorph.a
ocropus/imgio/libimgio.a
ocropus/imgio/test-jpgpng
ocropus/imgio/test-jpgpng.o
ocropus/imgio/test-pbmpng
ocropus/imgio/test-pbmpng.o
ocropus/imglib/libimg.a
ocropus/imglib/test-imgbrushfire
ocropus/imglib/test-imgbrushfire.o
ocropus/imglib/test-imglabels
ocropus/imglib/test-imglabels.o
ocropus/imglib/test-imgmap
ocropus/imglib/test-imgmap.o
ocropus/imglib/test-imgmisc
ocropus/imglib/test-imgmisc.o
ocropus/langmods/liblangmods.a
ocropus/ocr-binarize/libbinarize.a
ocropus/ocr-binarize/main-ocr-binarize-otsu.o
ocropus/ocr-binarize/main-ocr-binarize-sauvola.o
ocropus/ocr-binarize/ocr-binarize-otsu
ocropus/ocr-binarize/ocr-binarize-sauvola
ocropus/ocr-bpnet/apply-classmap
ocropus/ocr-bpnet/apply-classmap.o
ocropus/ocr-bpnet/build-classmap
ocropus/ocr-bpnet/build-classmap.o
ocropus/ocr-bpnet/feature-extractor-main
ocropus/ocr-bpnet/feature-extractor-main.o
ocropus/ocr-bpnet/libbpnet.a
ocropus/ocr-bpnet/ocr-train-bpnet
ocropus/ocr-bpnet/ocr-train-bpnet.o
ocropus/ocr-bpnet/train-from-lines
ocropus/ocr-bpnet/train-from-lines-bpnet
ocropus/ocr-bpnet/train-from-lines-bpnet.o
ocropus/ocr-bpnet/train-from-lines-bpnetmixtures
ocropus/ocr-bpnet/train-from-lines-bpnetmixtures.o
ocropus/ocr-bpnet/train-from-lines-mixtures
ocropus/ocr-bpnet/train-from-lines-mixtures.o
ocropus/ocr-bpnet/train-from-lines.o
ocropus/ocr-deskew-rast/libdeskewrast.a
ocropus/ocr-deskew-rast/main-ocr-deskew-rast.o
ocropus/ocr-deskew-rast/ocr-deskew-rast
ocropus/ocr-doc-clean/libdocclean.a
ocropus/ocr-doc-clean/main-ocr-doc-clean.o
ocropus/ocr-doc-clean/ocr-doc-clean
ocropus/ocr-layout-rast/liblayoutrast.a
ocropus/ocr-layout-rast/main-ocr-layout-rast.o
ocropus/ocr-layout-rast/ocr-layout-rast
ocropus/ocr-pageseg/libtextimageseg.a
ocropus/ocr-pageseg/main-ocr-pageseg-xycut.o
ocropus/ocr-pageseg/main-ocr-text-image-seg.o
ocropus/ocr-pageseg/ocr-pageseg-xycut
ocropus/ocr-pageseg/ocr-text-image-seg
ocropus/ocr-samples/libglinerec.a
ocropus/ocr-samples/libroughocr.a
ocropus/ocr-samples/test-nearestneighbor
ocropus/ocr-samples/test-nearestneighbor.o
ocropus/ocr-tesseract/libtesseract.a
ocropus/ocr-utils/libocrutils.a
ocropus/ocroscript/editline-stub.o
ocropus/ocroscript/graphics.cc
ocropus/ocroscript/image.cc
ocropus/ocroscript/imgbitscmds.cc
ocropus/ocroscript/imgrlecmds.cc
ocropus/ocroscript/libocroscript.a
ocropus/ocroscript/narray.cc
ocropus/ocroscript/nustring.cc
ocropus/ocroscript/ocr.cc
ocropus/ocroscript/ocroscript
ocropus/ocroscript/ocroscript-simple
ocropus/ocroscript/ocroscript-simple.o
ocropus/ocroscript/ocroscript.o
ocropus/ocroscript/sysutil.cc
ocropus/ocroscript/tess.cc
ocropus/ocroscript/version.cc
ocropus/ocroscript/version.o
ocropus/svn_info
pdftohtml-0.36.tar.gz
