*.o
*.a
ocropus-0.2.tar.gz
ocropus/%test_image.png
ocropus/%test_image.ppm
ocropus/config.log
ocropus/config.status
ocropus/ext/tolua++/tolua++
ocropus/imgio/test-jpgpng
ocropus/imgio/test-pbmpng
ocropus/imglib/test-imgbrushfire
ocropus/imglib/test-imglabels
ocropus/imglib/test-imgmap
ocropus/imglib/test-imgmisc
ocropus/ocr-binarize/ocr-binarize-otsu
ocropus/ocr-binarize/ocr-binarize-sauvola
ocropus/ocr-bpnet/apply-classmap
ocropus/ocr-bpnet/build-classmap
ocropus/ocr-bpnet/feature-extractor-main
ocropus/ocr-bpnet/ocr-train-bpnet
ocropus/ocr-bpnet/train-from-lines
ocropus/ocr-bpnet/train-from-lines-bpnet
ocropus/ocr-bpnet/train-from-lines-bpnetmixtures
ocropus/ocr-bpnet/train-from-lines-mixtures
ocropus/ocr-deskew-rast/ocr-deskew-rast
ocropus/ocr-doc-clean/ocr-doc-clean
ocropus/ocr-layout-rast/ocr-layout-rast
ocropus/ocr-pageseg/ocr-pageseg-xycut
ocropus/ocr-pageseg/ocr-text-image-seg
ocropus/ocr-samples/test-nearestneighbor
ocropus/ocroscript/graphics.cc
ocropus/ocroscript/image.cc
ocropus/ocroscript/imgbitscmds.cc
ocropus/ocroscript/imgrlecmds.cc
ocropus/ocroscript/narray.cc
ocropus/ocroscript/nustring.cc
ocropus/ocroscript/ocr.cc
ocropus/ocroscript/ocroscript
ocropus/ocroscript/ocroscript-simple
ocropus/ocroscript/ocroscript-simple.o
ocropus/ocroscript/ocroscript.o
ocropus/ocroscript/sysutil.cc
ocropus/ocroscript/tess.cc
ocropus/ocroscript/version.cc
ocropus/svn_info
ocropus/Jamrules
ocropus/tesseract-2.03/Makefile
ocropus/tesseract-2.03/ccmain/Makefile
ocropus/tesseract-2.03/ccmain/tesseract
ocropus/tesseract-2.03/ccstruct/Makefile
ocropus/tesseract-2.03/ccutil/Makefile
ocropus/tesseract-2.03/classify/Makefile
ocropus/tesseract-2.03/config.log
ocropus/tesseract-2.03/config.status
ocropus/tesseract-2.03/config_auto.h
ocropus/tesseract-2.03/cutil/Makefile
ocropus/tesseract-2.03/dict/Makefile
ocropus/tesseract-2.03/dlltest/Makefile
ocropus/tesseract-2.03/image/Makefile
ocropus/tesseract-2.03/java/Makefile
ocropus/tesseract-2.03/pageseg/Makefile
ocropus/tesseract-2.03/stamp-h
ocropus/tesseract-2.03/tessdata/Makefile
ocropus/tesseract-2.03/tessdata/configs/Makefile
ocropus/tesseract-2.03/tessdata/deu.DangAmbigs
ocropus/tesseract-2.03/tessdata/deu.freq-dawg
ocropus/tesseract-2.03/tessdata/deu.inttemp
ocropus/tesseract-2.03/tessdata/deu.normproto
ocropus/tesseract-2.03/tessdata/deu.pffmtable
ocropus/tesseract-2.03/tessdata/deu.unicharset
ocropus/tesseract-2.03/tessdata/deu.user-words
ocropus/tesseract-2.03/tessdata/deu.word-dawg
ocropus/tesseract-2.03/tessdata/fra.DangAmbigs
ocropus/tesseract-2.03/tessdata/fra.freq-dawg
ocropus/tesseract-2.03/tessdata/fra.inttemp
ocropus/tesseract-2.03/tessdata/fra.normproto
ocropus/tesseract-2.03/tessdata/fra.pffmtable
ocropus/tesseract-2.03/tessdata/fra.unicharset
ocropus/tesseract-2.03/tessdata/fra.user-words
ocropus/tesseract-2.03/tessdata/fra.word-dawg
ocropus/tesseract-2.03/tessdata/ita.DangAmbigs
ocropus/tesseract-2.03/tessdata/ita.freq-dawg
ocropus/tesseract-2.03/tessdata/ita.inttemp
ocropus/tesseract-2.03/tessdata/ita.normproto
ocropus/tesseract-2.03/tessdata/ita.pffmtable
ocropus/tesseract-2.03/tessdata/ita.unicharset
ocropus/tesseract-2.03/tessdata/ita.user-words
ocropus/tesseract-2.03/tessdata/ita.word-dawg
ocropus/tesseract-2.03/tessdata/nld.DangAmbigs
ocropus/tesseract-2.03/tessdata/nld.freq-dawg
ocropus/tesseract-2.03/tessdata/nld.inttemp
ocropus/tesseract-2.03/tessdata/nld.normproto
ocropus/tesseract-2.03/tessdata/nld.pffmtable
ocropus/tesseract-2.03/tessdata/nld.unicharset
ocropus/tesseract-2.03/tessdata/nld.user-words
ocropus/tesseract-2.03/tessdata/nld.word-dawg
ocropus/tesseract-2.03/tessdata/spa.DangAmbigs
ocropus/tesseract-2.03/tessdata/spa.freq-dawg
ocropus/tesseract-2.03/tessdata/spa.inttemp
ocropus/tesseract-2.03/tessdata/spa.normproto
ocropus/tesseract-2.03/tessdata/spa.pffmtable
ocropus/tesseract-2.03/tessdata/spa.unicharset
ocropus/tesseract-2.03/tessdata/spa.user-words
ocropus/tesseract-2.03/tessdata/spa.word-dawg
ocropus/tesseract-2.03/tessdata/tessconfigs/Makefile
ocropus/tesseract-2.03/testing/Makefile
ocropus/tesseract-2.03/textord/Makefile
ocropus/tesseract-2.03/training/Makefile
ocropus/tesseract-2.03/training/cntraining
ocropus/tesseract-2.03/training/mftraining
ocropus/tesseract-2.03/training/unicharset_extractor
ocropus/tesseract-2.03/training/wordlist2dawg
ocropus/tesseract-2.03/viewer/Makefile
ocropus/tesseract-2.03/wordrec/Makefile
pdftohtml-0.36.tar.gz
pdftohtml/pdftohtml
