

/* general */

body { padding:0; margin:0; background:#fff url(bg.jpg) repeat-x top;  color:#000; font:0.9em Verdana, sans-serif; }
h3 { margin:10px 30px; color:#654; font-weight:normal; }
a { color:#049; }
img[src='pen.gif'] { cursor:pointer; }

#wrap { margin:0 auto 20px auto; max-width:950px;  }

/* title and sidebar */

#title { height:103px; }
#title h1 { float:left; margin:32px 30px 0; padding:0; font-family:"Lucida Grande",Arial,sans-serif; font-weight:normal; }
#title h1 a { color: #fff; text-decoration:none;}
#title h1 span { font-weight:bold; color: #fff; text-decoration:none;}
#title #intro { float:right; width:300px; margin:10px; background:#eee; padding:10px; opacity:0.8; border:1px solid #777; -moz-border-radius:10px; border-radius:10px; }

#sidebar { float:right; width:195px; margin:10px 0; }
#sidebar h3 { margin:30px 0 0 0; padding:2px 12px; background:#999; border-left: 2px solid #888; -moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; color:#fff; font-size:1em; font-weight:bold; }
.sidebox { margin:0; padding:10px; background:#f9f9f9; opacity:0.8; border:2px solid #ccd0d6; border-width:0 1px 1px 2px; -moz-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }
.sidebox input[type="text"] { width:95%; }
.sidenote { margin-top:30px; }

/* main page */

#content { margin:0 200px 0 0; }


#adminselect { margin:5px 30px; }

.i, #nodocs { margin:30px; clear:all; }
.error { background-color:#ffc0c0; border:1px solid #f44; padding:3px; }
.junk { background-color:#ffdca9; border:1px solid #eb8; padding:3px; }
.unsure { background-color:#f0ffe0; border:1px solid #cdc; padding:3px; }
.iAu { font-weight:bold; }
.iTi { font-weight:bold; }
.compact .iTi:after { content:">>"; padding-left:5px; font-size:0.7em; letter-spacing:-0.2em; color:#666; cursor:default; }
.iAb { margin:8px 0px 5px; text-align:justify; font-size:0.8em; color:#333; }
.iUr { color:#663; font-size:0.8em; text-decoration:none; }
.iInfo { color:#666; font-size:0.8em; }
.iEdit { float:right; color:#600; font-size:0.8em; cursor:pointer; }
.iAdmin, .iAdmin a { background:#eee; color:#900;}
.iIcon { float:left; font-size:10px; text-align:center; }
.iWrapper { margin-left:50px; }
.compact .i { margin:14px 30px; }
.compact .iAb { display:none; }
.compact .iIcon img { height:25px; }

.dateseparator, #searchintro { margin:50px 30px 30px; font-size:1.3em; color:#666; border-bottom:1px solid #ccc; }

.admin { color:#c00; }
.adminform { margin:0; padding:3px 0 0; color:#c00; font-size:0.9em; }
.adminform div { float:right; }
.adminform input, .adminform select { color:#c00; border:1px solid #c00 !important; font-size:0.9em; }
.adminform a { color:#c00; padding-right:1em; }
.status { color:#c00; width:100%; }

#loading { margin:30px; text-align:center; color:#999; }
#loading a { color:#88a; }

#prevnext { margin:0; padding:0 30px 30px; }
#prevnext a+a { padding-left:10px; }


#lbBox { display:none; position:absolute; top:50%; left:50%; z-index:10; width:600px; height:400px; margin:-220px 0 0 -300px; border:3px solid #666; background:#900; color:white; text-align:left; }
#lbBox[id]{ position:fixed; }
#lbContent { margin:20px; }
#lbContent table { margin:10px 0; width:100%; }
#lbContent table td { padding:5px 10px; }
#lbContent input[type="text"], #lbContent textarea { width:100%; }
#lbContent a { color:#ff9; }
#lbOverlay { display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:9; background-color:#ccc; -moz-opacity: 0.9; opacity:.90; filter:alpha(opacity=90); }
#lbOverlay[id]{ position:fixed; }


/* pages tracked page */

#pageslist { }
#pageslist li { margin:10px 0; }
#pageslist li ul li { margin:0; }
#pageslist input { border:1px solid #eee; background:transparent; width:20em;}
#pageslist span { font-size:0.9em; color:#666; font-family:Arial,sans-serif; }

/* edit page */

#editpage { background:#fff; }
#editpage h1 { margin:0px; padding:8px 20px; border-bottom:1px solid #000; font-size:1.6em; background:#f0f0f9; }
#editpage #user { position:absolute; top:10px; right:20px; }
#editpage form { margin:1%; width:98%; }
#editpage form table { width:100%; border-collapse:collapse; }
#editpage form table tr { border:2px solid #fff; background-color:#eee; }
#editpage form table td { padding:0 2px; }
#editpage form table td.abstract { width:49%; }
#editpage form table td.label { width:6em; text-align:right; }
#editpage form table td.hint { width:10em; font-size:0.9em; color:#900; }
#editpage form input[type="text"], textarea { width:99%; }
#editpage #procmenu { margin:20px 0 0; padding:5px 20px 7px; border:1px solid black; border-width:1px 0; background:#f0f0f9; }
#editpage #procmenu a { padding-right:10px; }
#editpage #proc { padding:0 20px; overflow-y:auto; height:300px; font-family:monospace; font-size:12px; white-space:pre; }
#editpage #proc td { border-bottom:1px solid #eee; padding:2px 10px; }


